
.logo-box .logo a img{
    max-width: 250px !important;
    max-height: 80px;
}

.pull-left a img{
    max-width: 250px !important;
    max-height: 80px;
}
.logo a img {
    max-width: 250px !important;
    max-height: 80px;
}

